.body {
    z-index: 1;
}
.body1::before {
    content: "";
    background-image: url('../pictures/kikki_starr.jpg') ; /*image pictured by kikki_starr, https://unsplash.com/photos/FQQO4iQTXYY*/
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.5;
    z-index: -1;
}

#intro {
    text-align: center;
    margin: 30px;
}

/*본 기능창*/
#main {
    width: 500px;
    margin: 100px auto;
}
input[type="text"] {
    width: 400px;
    float: left;
    height: 40px;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    font-family: 고딕;
}
button {
    width: 70px;
    height: 60px;
    border-radius: 25px;
    float: right;
    color: white;
    background-color: black;
    font-size: 20px;
    font-family: 고딕;
}
form {
    width: 500px;
    margin: 100px auto;
}
#main li {
    float: left;
    width: 400px;
    height: 40px;
    line-height: 40px;
    list-style-type: none;
    border-radius: 25px;
    border: 1px solid black;
    font-size: 20px;
    font-family: 고딕;
    padding: 10px;
    color: white;
    background-color: rgb(68, 65, 65);
    margin: 10px;
}
